# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Pytest
# =========================
.pytest_cache/
.cache/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Coverage / reports
# =========================
htmlcov/
.coverage
coverage.xml

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/